.form {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    font-size: 0.85em;
}

.form > * {
    margin: 4px 0px;
}

.add-change-button {
    width: 38%;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
}

.add-change-button:hover {
    width: 43%;
    margin: 0px 14px 0px 0px;
}
.cancel-delete-button {
    width: 38%;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
}
.cancel-delete-button:hover {
    width: 43%;
    margin: 0px 14px 0px 0px;
}