.searchBar {
    min-width: 700px;
    max-width: 100%;
    height: fit-content;
}

.search-bar_button-container {
    display: flex;
    justify-content: space-around;
}
.toggle-button {
    height: 35px;
    width: 120px;
}

.search-bar_fields--display {
    display: flex;
    justify-content: space-around;
    transition: width 2s, height 4s;
}
.search-bar_fields--hidden {
    display: none;
}
